form{
	background-image: url( "set-lists_23-2147950088.webp");
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: 10%;
}
.todo {
	display: flex;
	padding: 2% 40%;

	background-color: #FFF;
	border-bottom: 1px solid #DDD;
	background-image: url('images.jpeg');
	background-repeat: no-repeat;
	
}

.todo:nth-child(even) {
	background-color: rgb(245, 205, 205);
} 

.todo:last-of-type {
	border-bottom: 0;
}

.todo .id {
	flex: 0 1 10%;
}

.todo.content {
	flex: 0 1 20%;
}

.todo.done .content {
	text-decoration: line-through;
}

.todo-input {
	display: block;
	width: 50%;
	padding: 1rem;
	appearance: none;
	border: none;
	background-color: #F3F3F3;
	margin-top: 1rem;
	font-size: 1.4rem;
	outline: none;
	margin-left: 20%;
}

.todo-submit {
	display: block;
	width: 50%;
	max-width: 20%;
	appearance: none;
	border: none;
	outline: none;
	background: none;
	border-radius: 7%;

	background-color: #932cca;
	color: rgb(255, 255, 255);
	margin: 5% auto;

	padding: 1% 1%;
	font-size: 1.3rem;
	font-weight: 800;
}

button{
	background-color: #9b37af;
	margin-left: 3%;
	border-radius: 2px;
	border: none;
	padding: 2%;
}